body{
    margin: 0;
    background-color: Ivory;
}
a {
    text-decoration: none;
    color:rgb(50, 0, 0);
}
p{
    margin: 0;
}
h1{
    text-align: center;
    font-size: 55px;
    border-bottom:2px solid gray;
    margin: 0;
    padding-top: 20px;
}
.videoweight iframe{
    padding: 40px;
    padding-top: 80px;
}
.ranking p{
    font-weight: bold;
    border-right:1px solid gray ;
    width: 173px;
    font-size: 22px;
    padding-top: 20px;
    padding-left: 10px;
}
.WeightRanking p{
    font-weight: bold;
    font-size: 30px;
    margin: 0;
    padding-top: 50px;
    text-align: left;
}
.WeightHistoryRanking p{
    font-weight: bold;
    font-size: 30px;
    margin: 0;
    padding-top: 75px;
    text-align: left;
}
ul{
    font-size: 20px;
    border-right:1px solid gray ;
    height: 100%;
    width: 130px;
    margin: 0;
    padding: 20px;
    padding-top: 10px;
    line-height: 30px;
}
ol{
    font-size: 25px;
    margin: 0;
    padding-top: 20px;
    text-align: left;
    line-height: 35px;
}
.WeightHistoryRanking ol{
    padding-top: 30px;
}
.history{
    padding-right: 20px;
}
#grid ul{
    padding-left: 33px;
}
#grid{
    display: grid;
    grid-template-columns: 250px 2fr 1fr;
    grid-template-rows: 600px 600px 600px;
}
#grid2{
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}
#grid3{
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-column: 2 / 4;
    grid-row: 3 / 4;
}
.WeightHistory{
    grid-column: 1 / 2;
}

.in{
    grid-column: 2 / 4;
    grid-row: 1 / 3;
}
.WeightChampion{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.WeightRanking{
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}
.ranking{
    grid-row: 1 / 4;
}
.WeightHistoryRanking{
    grid-column: 1 / 2;
} 
.WeightFirstChampion{
    padding: 20px;
    grid-column: 3 / 4;
}
.history{
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}


@media(max-width:720px){
    #grid{
        display: block;
    }
    ul{
        border-right:none;
        height: 300px;
    }
    .ranking p{
        border-right:none;
    }
    ol{
        width: 300px;
    }
    h1{
        border-bottom:none;               
    }
    .in{
        grid-column: 2 / 4;
    }
 }

h4{
    font-size: 35px;
    margin: 0;
    padding: 20px;
    padding-left: 0;
    font-weight: bold;
}
.WeightHistoryVideo h4{
    text-align: right;
}
.WeightHistoryVideo{
    padding: 20px;
}
.WeightHistory{
    padding: 20px;
}
.WeightHistory p{
    padding-left: 0;
    font-size: 20px
}